body {
  background-color: #f8f1f1;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 100%;
}

.titles {
  color: #19456b;
  margin: 0.1rem;
  padding-top: 0.2rem;
}

/*// title section //*/

.title {
  max-width: 45%;
  margin: auto;
  margin-top: 3rem;

  text-align: center;
}
.my-name {
  font-size: calc(1.5rem + 4.8vw);
  color: #19456b;
}
h4 {
  font-size: calc(1rem + 0.2vw);
  font-weight: 450;
  color: #11698e;
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: calc(1rem + 3.3vw);
  text-align: left;
}
.title-line {
  border: 0.1rem solid #16c79a;
  background-color: #16c79a;
  height: 0px;
  margin: auto;
  width: 80%;
}

/* /// */
.middle-container {
  margin-top: calc(2rem + 4vw);
}

/*// background section //*/

.division-section {
  display: flex;
  justify-content: center;
  margin: calc(1rem + 2vw) calc(1rem + 7vw);
}
.section-first {
  max-width: 29%;
  min-width: 29%;
  margin-right: 1rem;
  cursor: pointer;
}
h2.section-title {
  font-size: calc(1.2rem + 1.5vw);
  text-align: start;
}

/**/
.section-two {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
img.arrow {
  width: calc(1rem + 1vw);
  transform: rotate(-0.25turn);
  margin: 5rem 0.2rem auto;
  align-self: flex-start;
}
/**/
.section-three {
  max-width: 0%;
  max-height: 0rem;
  margin-left: calc(1rem + 1.5vw);
  overflow: hidden;
  transition: max-width 0.5s, max-height 0.5s;
}
.subtitle-div {
  display: flex;
}
h3.subtitle {
  color: #16c79a;
  font-size: calc(1rem + 0.5vw);
  flex-grow: 3;
  margin: 0;
}
img.icon {
  justify-self: end;
  margin: 0.01rem;
  width: calc(1rem + 0.3vw);
  filter: invert(23%) sepia(10%) saturate(4272%) hue-rotate(170deg)
    brightness(92%) contrast(91%);
}
.subtitle-line {
  border: 0.1rem solid #16c79a;
  width: 100%;
  background-color: #16c79a;
  height: 0px;
  margin: 0rem;
}
.text {
  font-size: calc(1rem + 0.2vw);

  color: #11698e;
}
.text span {
  color: #16c79a;
}

/*APP DISPLAY*/

img.app {
  width: calc(1.5rem + 7vw);
  float: right;
}
.app-div {
  margin: calc(1rem + 0.5vw);
}

/*CONTACT ICONS*/
img.contact-icon {
  margin: calc(1rem + 0.2vw);
  width: calc(1.5rem + 1.5vw);
  filter: invert(23%) sepia(10%) saturate(4272%) hue-rotate(170deg)
    brightness(92%) contrast(91%);
}

@media (max-width: 900px) {
  .division-section {
    flex-direction: column;
  }
  img.arrow {
    display: none;
  }
}
