body {
  background-color: #f8f1f1;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 100%;
}
img {
  width: 2em;
  margin: auto;
  display: inline;
}
img.qr {
  margin: 1em;

  width: 10em;
  height: auto;
}
.qr-div {
  flex-grow: 4;
}
h3 {
  color: #19456b;
  display: none;
  font-size: 1.5em;
}

hr {
  height: 0px;
  bottom: 1335px;
  border: 1px solid #16c79a;
  right: -1210px;
  width: 87%;
}
.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 512px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;

  border-top: 1em solid #16c79a;
}
hr.secondary-bar {
  margin-top: 0px;
  padding-top: 0px;
  width: 20%;
  display: inline;
}

h1.title-main {
  color: #19456b;
  font-size: 8em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1.section-title {
  color: #19456b;
  font-size: 3.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2.title-description {
  align-self: end;
  font-size: 1.5em;
  color: #11698e;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
  padding-left: 60;
}

.middle-container {
  display: flex;
  flex-direction: column;
}
.top-container {
  display: flex;
  justify-content: start;
  margin: 50px 150px 15px 150px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cv.right {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin: 10px 75px 10px 75px;
  padding: 50px;
}
.cv.left {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;

  margin: 10px 75px 10px 75px;
  padding: 50px;
}

.detail {
  background-color: rgba(22, 199, 154, 0.2);
  border-radius: 15px;
  margin: 20px 150px;
}
div.app-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f1f1;
  align-items: center;
}
h4 {
  color: #11698e;
  -webkit-text-stroke: 0.01em #16c79a;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
div.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 199, 154, 0.2);
  width: 25em;
  border-radius: 1em;
  margin: 3em;
}
.app-image {
  width: 100%;
  border-radius: 1em 0 0 1em;
}
.app-image img {
  width: 100%;
  border-radius: 1em 1em 0 0;
}

.app-description {
  color: #11698e;
  font-size: 1em;

  padding: 1.5em;
}
#studies-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
#contact-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
#portfolio-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
#work-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
#courses-detail {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
.detailed-story {
  color: #11698e;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 29px;
  padding: 30px;
}

.detailed-section {
  display: flex;
  flex-direction: column;
}
div#contact-detail {
  background-color: #f8f1f1;
  display: flex;
  justify-content: flex-end;
}
.contact-icons {
  padding-right: 2em;
}
.contact-img {
  margin-top: 0;
  padding-top: 0;
  justify-items: flex-end;
  margin: 1em;
  width: 5em;
}
@media (max-width: 1440px) {
  h1.title-main {
    font-size: 5em;
  }
  h1.section-title {
    font-size: 2.5em;
  }
  h2.title-description {
    font-size: 0.8em;
    text-align: left;
  }
  .detail p {
    font-size: 1em;
  }
  img {
    width: 1em;
  }
  img.q {
    width: 5em;
  }
  .contact-img {
    width: 3em;
  }
}
@media (max-width: 900px) {
  h1.title-main {
    font-size: 3em;
  }
  h1.section-title {
    font-size: 1em;
  }
  h2.title-description {
    font-size: 0.8em;
  }
  h4 {
    font-size: 1em;
  }
  .top-container {
    justify-content: center;
  }
  .detail {
    margin: 20px 15px;
  }
  .detail p {
    font-size: 0.8em;
  }
  .cv.right {
    justify-content: center;
    padding: 0.5em;
  }
  .cv.left {
    justify-content: center;
    padding: 0.5em;
  }
  img {
    width: 0.5em;
  }
  img.qr {
    display: none;
  }
  .contact-img {
    width: 1em;
  }
  div#contact-detail {
    justify-content: center;
  }
}
